<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>NLP Article Analyzer</title>
</head>

<body>

    <header>
        <div class="logo">
            NLP Article Analyzer
        </div>
        <div class="nav">
            <p>Home</p>
            <p>About me</p>
        </div>
    </header>

    <main>
        <section>
            <form id="urlForm" onsubmit="return Client.handleSubmit(event)">
                <input id="name" type="text" name="url" placeholder="Enter URL" required>
                <button id="submitButton" type="submit">Submit</button>
            </form>

        </section>

        <section>
            <strong class="result">Analysis of the article:</strong>
            <div id="results"></div>
        </section>
    </main>

    <footer>
        <p>This project was done using <a href="#">MeaningCloud API</a></p>
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>